<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

</head>
<body>

  <main>
    <div class="container">
      <div class="logo">
        <img src="../image/logo/Sehat-Logo-Web-01.png" alt="Sehat Logo">
      </div>
      <div class="login_form">
        <form action="#" method="post" id="registerForm">
          <input type="text" name="username" id="username" placeholder="Username">
          <input type="email" name="email" id="email" placeholder="Email">
          <input type="password" name="passwd" id="password" placeholder="Password">
          <input type="button" value="Save" id="registerButton">
        </form>
      </div>
      <div class="faccount">
        <p>Already have an account? <a href="./login.html" class="create_account">Login</a></p>
      </div>
    </div>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
  <script src="./register.js"></script>
  <script src="../../bundle.js"></script>
</body>
</html>